*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container{
   width: 950px;
   background-color: #f9f9f9;
   border: 1px solid #bdc3c7;
   height: 90vh;
   padding: 15px;
}
.searchbar{
  width: 100%;
  display: flex;
  margin-top: 1rem;
  align-items: center;

}
.searchbar >input{
  height: 28px;
    width: 550px;
    font-size: 20px;
   
    border: 1px solid #bdc3c7;
}
.searchbar >span{
  margin-left: 1rem;
}
.firstQuestion{
  margin-top: 1rem;
}
.title{
    background-color: #2980b9;
    color: #fff;
    padding: 5px;
    cursor: pointer;
    

    
}
.title >h3{
  text-align: start;


}
.btns{
  display: flex;

}
.btns > button{
  border: none;
  outline: none;
  margin: 5px 5px;
  padding: 3px;
  background: rgb(218, 217, 217);
}
.btns>button:hover{
  background-color: #9b59b6;
}
.toggle{
  background-color: #e7edf1;
}